<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="inner-layer">
        <div class="wrapper">
            <div class="sidebar">
                <ul>
                    <li><a routerLink="/viewdonorreq">VIEW DONAR REQUEST</a></li>
                    <li><a routerLink="/viewbloodreq">VIEW BLOOD REQUEST</a></li>
                    <li><a routerLink="/viewdonor">VIEW DONARS LIST</a></li>
                    <li><a routerLink=""><i class="fa fa-sign-out fa-2xl"></i>LOGOUT</a></li>
                </ul> 
            </div>
        </div>
    </div>
    <h1>Welcome ADMIN</h1>
    <div>
    </div>
</body>
